* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
  outline-offset: 0;
}

/* 统一样式开始 */
html {
  color: #333;
  background-color: #081620;
}

/*  加.txt类名，设置表单统一样式 */
.txt {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
}

select.txt,
textarea.txt {
  height: 100px;
  padding: 10px;
}

textarea {
  resize: none;
}

input:focus,
select:focus {
  border-color: #5589ef;
}

input::placeholder {
  font-size: 14px;
}

label {
  cursor: pointer;
}

button {
  width: 150px;
  height: 40px;
  background-color: #5589ef;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #739cee;
}

/* 按钮禁用效果 */
button:disabled {
  background-color: #a3b0ca;
  cursor: not-allowed;
}

input ~ span {
  color: #aaa;
}


/* 只有在radio、checkbox中checked才有效，所以不会影响其他的 */
input:checked + span {
  color: #333;
}

/* 统一样式结束 */

/* 通用样式开始 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* 通用样式结束 */
.container {
  width: 400px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 10px;
  padding: 30px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container .form-item {
  margin: 16px 0;
  width: 340px;
}

.container .form-item.captcha input {
  width: 160px;
}

.container .form-item.gender .title {
  margin-right: 20px;
}

.container .form-item.policy span {
  font-size: 12px;
  /* 给两个行盒（或行块盒）任意一个设置都可以 */
  vertical-align: 2px;
}
